* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: transparent;
}

/* Custom Navbar Styles */
header .navbar-nav .nav-link {
  color: white !important;
  /* Make navbar items white */
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 14.4px;
  text-align: left;
}

header nav {
  z-index: 99999999;
}

header .country-flag img {
  width: 24px;
  height: 24px;
  border-radius: 100%;
}



.btn-theme-primary {
  border: 1px solid #7814F7;
  color: #fff;
  width: 100px;
}

.btn-theme-primary:hover {
  background-color: #7814F7;
  color: #fff;
}

.hero-section {
  height: 100vh;
  color: white;
  background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.314) 50%, #000000 100%), url('../images/herosectionimage.jpg');
  background-size: cover;
  background-position: center;
}

.samplePaper-hero-section {
  height: 100vh;
  color: white;
  background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.314) 50%, #000000 100%), url('../images/sample-paper.png');
  background-size: cover;
  background-position: center;
}

.samplePaper-paginate i {
  color: #783AFB;
}

.samplePaper-paginate .page-link:hover {
  color: #783Afb;
  font-weight: 600;
}

.samplePaper-paginate .page-link.active {
  color: #783AFB;
  background: transparent;
  font-weight: 600;
}

.samplePaper-library-access-sec-btn {
  padding-top: 30px;
}
.samplePaper-library-access-sec-btn button{
  width: 100%;
}

.sample-paper-sec-2-font{
  font-size: 28px;
}

.hero-text {
  margin-top: 180px;
}

.header-text {
  font-family: 'Inter', sans-serif;
  font-size: 56px;
  font-weight: 800;
  line-height: 67.2px;
}

.gradient-text {
  background: linear-gradient(82.48deg, #7814F7 15%, #F54470 48.5%, #FF4087 65%, #FFC056 83.5%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.yellow-text {
  background: #FFC056;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.purple-text {
  background: #783AFB !important;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.font-we-900 {
  font-weight: 900;
}


/* Section 1 */
.section-1 {
  height: 100%;
  /* Minimum height to fill the viewport height */
  background-image: url('../images/bg.png');
  background-size: cover;
  /* Cover the entire section while keeping aspect ratio */
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
}

.sectionHeading {

  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.sectionSubHeading1 {
  font-family: 'Inter';
  font-style: normal;
  font-size: 43px;
  display: flex;
  color: #FFFFFF;
  font-weight: 800;
  line-height: 67.2px;
}

.sectionSubHeading2 {
  line-height: 1;
  margin-top: 0px;
  font-weight: bold;
  font-size: 30px;
  background: #783AFB;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

}

.custom {
  justify-content: center;
  /* left: 50%; */
  /* top: 752px; */
  /* transform: translateX(-50%); */
  display: flex;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 67px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.18) 0%, rgba(255, 255, 255, 0.1) 100%), linear-gradient(82.48deg, #7814F7 0%, #F54470 33%, #FF4087 65%, #FFC056 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* text-fill-color: transparent; */
  color: transparent;
}



/* -------------------- Card */
.cardStyles {
  padding: 10px;
  box-sizing: border-box;


  margin-top: 20px;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #783AFB;
  backdrop-filter: blur(12px);
  border-radius: 16px;
}

.cardHeading {

  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 38px;
  line-height: 1;
  display: flex;
  align-items: start;
  color: #FFFFFF;
}

.text-heading {

  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 38px;
  line-height: 1;
  color: #FFFFFF;
}


.cardSubHeading {
  display: flex;
  line-height: 1.1;
  justify-content: start;
  font-weight: 800;
  font-size: 35px;

  background: linear-gradient(77.12deg, #7814F7 0%, #F54470 30%, #FF4087 55%, #FFC056 100%),
    linear-gradient(0deg, rgba(255, 255, 255, 0.18) 0%, rgba(255, 255, 255, 0.1) 100%);

  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.cardTxt {
  margin-top: 20px;
  display: flex;
  justify-content: start;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;

  color: #FFFFFF;
}

.sectionHeading2 {
  margin-top: 10px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* ----------------- Four Cards */
.myCardStyles {
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #783AFB;
  backdrop-filter: blur(12px);
  border-radius: 16px;
  margin-bottom: 20px;
}

.myCardBody {
  margin-left: 15px;
  text-align: start;
}

.myCardHeading {
  margin-top: 10px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  display: flex;
  color: #FFFFFF;
}

.myCardTxt {
  margin-top: 30px;
  color: #FFFFFF;
}

.myCardTxt p {
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
}

.thirdCard {
  margin-top: 20px;
}

.cardImageContainer {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  height: 100%;
}

.cardImageContainer img {
  max-width: 80%;
  max-height: 80%;
}

#header {
  transition: background-color 0.3s ease;
}

#header.scrolled {
  background-color: #783afb !important;
  /* Change this to your desired background color */
}

#header.scrolled .fa-phone-volume {
  color: #fff !important;
}

#header.scrolled a.btn {
  background-color: #ffffff;
  border: 1px solid #fff;
  /* Change this to your desired anchor background color */
  color: #783AFB;
  /* Change this to your desired anchor font color */
}




/* --------------PHASES CARD */

.section-card-phases {
  overflow: hidden;
  min-height: 500px;
  height: 100%;
  /* Fill the viewport height */
  background-image: url('../images/bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  /* Remove padding if there's any */
}

.heartbeat-heading {
  display: flex;
  justify-content: space-between;
  /* Align children to the edges */
  align-items: center;
  padding: 0 0rem;
  /* Padding to ensure content isn't touching the edges */
}

.text-container {
  flex: 1 0 auto;
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.2;
  color: white;
  white-space: nowrap;

  text-overflow: ellipsis;
  display: flex;
  /* Use flexbox to layout text */
  flex-direction: column;
  /* Stack text vertically */
  align-items: center;
  /* Align text to center */
  text-align: center;
  gap: 15px;
  /* Ensure text is centered within the container */
}

.heartbeat-heading h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.2;
  background: linear-gradient(82.48deg, #F714AA 0%, #F54470 33%, #FF4087 65%, #FFC056 100%);
  -webkit-background-clip: text;
  color: transparent;
  flex-grow: 2;
  /* Grow to use available space */
  margin: 0 0rem;
  /* Spacing between text and images */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 10px;

}

.heartbeat-heading .heading-custom-3 {
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.2;
  background: linear-gradient(82.48deg, #7814F7 0%, #F54470 33%, #FF4087 65%, #FFC056 100%);
  -webkit-background-clip: text;
  color: transparent;
  flex-grow: 2;
  /* Grow to use available space */
  margin: 0 0rem;
  /* Spacing between text and images */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 10px;

}

.main-text {
  line-height: 1.5;
}

.sub-text {
  position: absolute;
  top: 50px;
}

.sub-text1 {
  position: absolute;
  top: 80px;
}

.mt-margin-2 {
  margin-top: 100px;
}

.heartbeat-line {
  max-width: 100%;
  /* Ensure image is responsive */
  height: auto;
  /* Maintain aspect ratio */
  flex-shrink: 1;
  /* Allow images to shrink if needed */
  flex: 0 1 auto;
}

.start {
  align-self: flex-start;
  /* Align to the start */
}

.end {
  align-self: flex-end;
  /* Align to the end */
}


.sub-text3 {
  top: 50px;
}


.individual-mt-custom {
  margin-top: 0 !important;
}

/*  */
.learn-more {
  border-radius: 10px;
  background: #FFFFFF1A;
  border: 1px solid #FFFFFF36;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  padding: 10px 16px;

}

.section-cards- {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  color: #fff;
  position: relative;
}

.section-skepticism {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  color: #fff;
  position: relative;
}

.content {
  flex-basis: 60%;
  /* adjust as needed */
}

.heading-container {
  margin-bottom: 20px;


}

.Individual-mt-custom {
  margin-top: 5rem;
}

.individual-padding-custom {
  padding: 5rem;
}

.heading-val1 {
  font-size: 35px;
  font-weight: 800;
  line-height: 1;
  margin-bottom: 0 !important;
  font-family: 'Inter', sans-serif;
  background: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heading-val {
  font-size: 40px;
  font-weight: 800;
  line-height: 1;
  margin-bottom: 0 !important;
  font-family: 'Inter', sans-serif;
  background: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heading-gradient {
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  font-family: 'Inter', sans-serif;
  background: linear-gradient(77.12deg, #7814F7 0%, #F54470 33%, #FF4087 65%, #FFC056 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  font-family: 'Inter', sans-serif;
  max-width: 410px;
}

.image-container {
  flex-basis: 40%;
  /* adjust as needed */
  position: relative;
  /* for absolute positioning of children */
}

.large-image {
  width: 100%;
  max-width: 235px;
  height: auto;
  border-radius: 12px;
}

.Big-image {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 12px;
}

.small-image {
  width: 100%;
  max-width: 134px;
  height: auto;
  border-radius: 16px;
  position: absolute;
}

.small-image.top {
  top: 18px;
  /* adjust as needed */
  right: 18px;
  /* adjust as needed */
}

.small-image.bottom {
  bottom: 18px;
  /* adjust as needed */
  right: 18px;
  /* adjust as needed */
}

@media (max-width: 768px) {}



/* END PHASES CARD */
.list-view-description li {
  margin-bottom: 1em;
  /* Adjust the value as needed to create the desired gap */
  /* Rest of your styles... */
}


/* Section 3 - Why Partner With Us */
.section-3 {
  height: 100%;
  /* Minimum height to fill the viewport height */
  background-image: url('../images/bg.png');
  background-size: cover;
  /* Cover the entire section while keeping aspect ratio */
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
}

.section3ImageContainer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100%;
}

.section3ImageContainer img {
  border-radius: 13px;
  width: 430px;
  height: 329px;
}

.section3part1,
.section3part2,
.section3part3,
.section3part4,
.section3part5 {

  margin-top: 50px;
  color: white;
}

/* ------------- Part 1 */
.section3Heading {
  margin-top: 30px;
  font-size: 30px;
  font-weight: 800;
  line-height: 1;
  margin-bottom: 0 !important;
  font-family: 'Inter', sans-serif;
}

.section3part1 li .heading-gradient {
  font-size: 18px;
}

.lighter-gradient {
  font-size: 35px;
  font-weight: 800;
  line-height: 48px;
  font-family: 'Inter', sans-serif;
  background: linear-gradient(77.12deg, #7814F7 0%, #F54470 33%, #FF4087 65%, #FFC056 100%),
    linear-gradient(0deg, rgba(255, 255, 255, 0.18) 0%, rgba(255, 255, 255, 0.1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;


}

/* ------------- Part 2 */
.section3ImageContainer2 {
  /* display: flex;
  justify-content: flex-start;
  align-items: flex-start; */
  height: 100%;
}

.section3ImageContainer2 img {
  width: 430px;
  height: 329px;
}

.section3txt {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

/* -------- Section 3 End */


/* Section 4 - Pricing  */
.section-4 {
  height: 100%;
  /* Minimum height to fill the viewport height */
  background-image: url('../images/bg.png');
  background-size: cover;
  /* Cover the entire section while keeping aspect ratio */
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
}

.heading-another {
  font-size: 32px;
  background: linear-gradient(82.48deg, #7814F7 12%, #F54470 40%, #FF4087 55.5%, #FFC056 74%),
    linear-gradient(0deg, rgba(255, 255, 255, 0.18) 0%, rgba(255, 255, 255, 0.1) 100%);

  font-weight: 500;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/* ---------------------------- */
.service-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 47px;

  color: #783AFB;
  /* Replace with your color variable */
}

.service-description {
  font-weight: 500;
  z-index: 10;
  font-size: 17px;
  line-height: 40px;
  color: #FFFFFF;
  /* Replace with your color variable */
}

.service-rate {
  background: #FFC056;
  /* Replace with your color variable */
  /* Add other styles for the rate line */
}

.customdesign {
  text-align: center;
  color: #fff;
}

/***** The important stuff *****/
.underline {
  position: relative;
  z-index: 10;
}

.underline:before {
  content: "";
  position: relative;
  width: 100%;
  height: 2.45em;
  left: 0;
  width: 100%;
  z-index: -10;
  background-image: url('https://res.cloudinary.com/dztuxvl4l/image/upload/v1561346293/unitingline-anim_tje077_hdw2p5.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.underline:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2.45em;
  left: 0;
  top: 8px;
  width: 100%;
  z-index: 1;
  filter: invert(67%) sepia(99%) saturate(500%) hue-rotate(2deg) brightness(100%) contrast(94%);

  background-image: url('https://res.cloudinary.com/dztuxvl4l/image/upload/v1561346293/unitingline-anim_tje077_hdw2p5.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.listview {
  background-color: #0c0c14;
  border: 1px solid #783AFB;
  margin: 0;
}

.listview:first-child {
  border-top-left-radius: 0.25rem;
  border-top: 1.2px solid #783AFB;
  border-top-right-radius: 0.25rem;
}

.listview:last-child {
  border-bottom-left-radius: 0.25rem;
  border-bottom: 1.2px solid #783AFB;
  border-bottom-right-radius: 0.25rem;
}

.listview th,
.listview td {
  background-color: #0c0c14;
  margin: 0;
  color: #fff;
  padding: 17px;
}



/* ---------------------------- */


/* FAQs------------------------------------- */
.accordion-button::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3E%3C/svg%3E");
  transition: all 0.5s;
  color: white !important;
  filter: brightness(0) invert(1);

}

.accordion-button:not(.collapsed)::after {
  color: white !important;
  filter: brightness(0) invert(1);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-dash' viewBox='0 0 16 16'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/%3E%3C/svg%3E");
}

/* Ensure that the accordion flush has no background and no borders */
.accordion.accordion-flush .accordion-item {
  background-color: transparent !important;
  border: none !important;
  color: white !important;
}

.accordion {
  --bs-accordion-color: var(--bs-body-color);
  --bs-accordion-bg: transparent;

}

/* Ensure the accordion button has no background, white text, and white border when not collapsed */
.accordion-button:not(.collapsed) {
  background-color: transparent !important;
  color: white !important;
  box-shadow: none !important;
  border-bottom: 1px solid white !important;
}

/* Ensure the accordion button has white text and no border when collapsed */
.accordion-button {
  color: white !important;
  font-weight: 600 !important;
  border-bottom: 1px solid white !important;
}

/* Ensure the accordion body has transparent background and white text */
.accordion-body {
  background-color: transparent !important;
  color: white !important;
}

.accordion {
  background: transparent !important;
}

.accordion-button:not(.collapsed) {
  background-color: transparent;
  color: white;
  box-shadow: none;
  font-weight: 600 !important;
}

.accordion-button:focus {
  border-color: white;
  box-shadow: none;
}

.accordion-body {
  background-color: transparent;
  color: white;
}

.accordion-item {
  background-color: transparent !important;
  border-bottom: 1.5px solid white !important;
  border-radius: 0;
  /* Removes border radius */
}

/* END ------------------FAQs------------------------------------- */


.customer-journey-mt{
  margin-top: 150px !important;
}
.customer-journey-mt-2{
  margin-top: 260px !important;
}


/* FOOOOOOTER START */
.frame {
  position: relative;

  z-index: 407;
  overflow: hidden;
}

.flex-row {

  width: 100%;
  height: 100.07%;
  top: 0;
  left: 0;
  z-index: 419;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  height: 28px;
  margin: 32px 0 0 0px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 16.399999618530273px;
  font-weight: 400;
  line-height: 27.6px;
  text-align: center;
  white-space: nowrap;
  z-index: 421;
}

.rectangle {
  position: relative;
  height: 61px;
  margin: 32px 0 0 -54px;
  background: #0c0a10;
  border: 1px solid #783afb;
  z-index: 420;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 16.399999618530273px;
  font-weight: 400;
  line-height: 27.6px;
  text-align: center;
  white-space: nowrap;
  z-index: 422;
}

.gradient-mask {
  position: absolute;
  width: 106.11%;
  height: 8.15%;
  top: -0.21%;
  left: -6.11%;
  background: url(../images/46f876a9-82e5-4a1c-86d7-c06fef8a2af3.png) no-repeat center;
  background-size: 100% 100%;
  z-index: 21;
}

.empty {
  position: absolute;
  width: 1641px;
  height: 749px;
  top: 1px;
  left: 0;
  background: url(../images/b228b5e5c83684668c5627e95fe018f9aa9239e7.png) no-repeat center;
  background-size: cover;
  z-index: 20;
}

.navbar-toggler-icon {
  background-image: url(../images/bars-solid.svg) !important;
}

.navbar-toggler:focus {
  box-shadow: none;
}

button.navbar-toggler {
  border: none !important;
}

.mt-5-custom {
  margin-top: 5rem;
}
















.home-page-wave {
  position: absolute;
  bottom: -115px;
  left: 0;
  width: 100%;
}


.pt-custom-1 {
  padding-top: 90px;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  /* Styles */
  header #navbarSupportedContent {
    display: block !important;
  }

  .login-menu-primary {
    display: none !important;
  }

}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {

  /* Styles */
  .home-page-wave {
    bottom: -50px;
  }

  .header-anch {
    background-color: #fff;
    border-radius: 5px;
  }

  .individual-build-card-2-mt {
    margin-top: 120px !important;
  }

  .myCardStyles {
    height: 240px;
  }

  .individual-build-card {
    height: 250px;
  }

  .sub-text1 {
    top: 45px;
  }

  .individual-build-card-2 {
    height: 335px;
  }

  header #navbar-menu li a {
    color: #000 !important;
  }

  header #navbar-menu li {
    padding-right: 10px;
    padding-left: 10px;
  }

  header #navbar-menu li {
    transition: all 300ms ease-in-out;
    text-align: center;
  }

  header #navbar-menu li:hover {
    background-color: #783AFB;
  }

  header #navbar-menu li:hover a {
    color: #fff !important;
  }

  .custom-width {
    max-width: 100%;
  }

  .hero-text {
    margin-top: 110px;
  }

  .login-menu-secondary {
    display: none !important;
  }

  .nav-parent {
    display: grid;
  }

  .nav-parent button {
    justify-self: end;
  }

  .key-journey img {
    width: 240px;
  }

  .header-text {
    font-size: 48px;
  }

  .sectionSubHeading1 {
    font-size: 26px;
  }

  .sectionSubHeading2 {
    font-size: 26px !important;
  }

  .custom {
    font-size: 26px;
    line-height: 48px;
  }

  .cardHeading {
    font-size: 32px;
  }

  .cardSubHeading {
    font-size: 28px;
  }

  .heartbeat-heading h1 {
    font-size: 26px;
  }

  .text-container {
    font-size: 26px;
  }

  .heading-val {
    font-size: 36px;
  }

  .heading-gradient {
    font-size: 36px;
  }

  .turnitin img {
    height: 80px;
  }

  .turnitin-2 img {
    height: 80px;
  }

  .mt-5-custom {
    margin-top: 5rem !important;
  }

  .heading-another {
    font-size: 26px;
  }

  .mt-5 {
    margin-top: 1.5rem !important;
  }

  .header-anch a:hover {
    transform: scale(1.2) !important;
  }

  .custom-padding {
    padding: 1.5rem !important;
  }

  .about-res-sec-1 {}

  .about-res-sec-1 .text-container {
    white-space: normal;
  }

  .about-res-sec-1 .content {
    width: 75% !important;
  }

  .about-res-sec-1 .image-container {
    width: 25%;
  }

  .about-res-sec-1 .image-container img {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }

  .blog-hero-section {
    height: 75vh !important;
  }

  .mt-custom-2 {
    margin-top: 190px !important;

  }

  .pt-custom-1 {
    padding-top: 90px;
  }

  .pad-custom-1 {
    padding-top: 3rem !important;
  }

  .mt-custom-3 {
    margin-top: 120px !important;
  }

  .mt-custom-4 {
    margin-top: 120px !important;
  }

  .custom-header-2-text {
    font-size: 30px !important;
    line-height: 38px !important;
  }

  .custom-para {
    font-size: 18px !important;
  }

  .custom-hero-2-section {
    height: 85vh !important;
  }

  .plagiarism-custom-1 img {
    width: 100%;
  }

  .plagiarism-custom-1 img {
    width: 50%;
  }

  .academic-using {
    width: 500px;
  }

  .academic-using h4 {
    white-space: normal;
  }

  .plagiarism-custom-2 img {
    width: 50%;
  }

  .individual-hero {
    height: 50vh !important;
  }

  .packages-custom {
    white-space: normal !important;
  }

  .packages-custom .position-absolute.sub-text1 {
    width: 650px !important;
  }

  .heading-sub-0 {
    padding-top: 4rem !important;
  }

  h1.head-policy {
    font-size: 50px !important;
  }

  .mt-custom-5 {
    margin-top: 270px;
  }

  .custom-padding-1 {
    padding-top: 135px;
  }

  .text-no-warp {
    white-space: normal;
    width: 550px;
    display: flex;
  }

  .mt-custom-6 {
    margin-top: 170px !important;
  }

  .services-hero-section {
    height: 80vh !important;
  }
}


@media only screen and (max-width: 768px) {
  .heartbeat-heading h1 {
    font-size: 16px;
    /* Smaller font size on smaller screens */
    padding: 0 10px;
    /* Smaller padding on smaller screens */
  }

  /* Optional: Hide heartbeat images on very small screens for better readability */
  .heartbeat-line {
    display: none;
  }

  .navbar-brand.logo img {
    height: 85px;
  }

  .individual-build-card-2-mt.card-2 {
    margin-top: 0 !important;
  }

  .mt-custom-4 {
    margin-top: 8rem !important;
  }

  .mt-custom-3 {
    margin-top: 10px !important;
  }

  .nav-parent .navbar-toggler {
    padding: 5px !important;
  }

  .individual-mt-custom-1 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }

  .custom-heading {
    font-size: 28px !important;
  }

  .custom-head {
    font-size: 28px !important;
  }

  .head-head {
    font-size: 26px !important;
  }

  .subhead-subhead {
    font-size: 26px !important;
  }

  .header-text {
    font-size: 42px !important;
    line-height: 48px !important;
  }

  .hero-text {
    margin-top: 100px;
  }

  .hero-section {
    height: 80vh;
  }

  .turnitin img {
    height: 60px;
  }

  .turnitin-2 img {
    height: 60px;
  }

  .sectionSubHeading1 {
    font-size: 22px;
  }

  .sectionSubHeading2 {
    font-size: 22px;
  }

  .custom {
    font-size: 22px;
  }

  .cardHeading {
    font-size: 26px;
  }

  .cardSubHeading {
    font-size: 24px;
  }

  .heartbeat-heading h1 {
    font-size: 22px !important;
  }

  .text-container {
    font-size: 22px;
  }

  .heading-val {
    font-size: 30px;
  }

  .heading-gradient {
    font-size: 30px;
  }

  .heading-container {
    text-align: center;
  }

  .sub-text1 {
    top: 40px;
  }

  .content {
    flex-basis: 100%;
  }

  .image-container {
    flex-basis: 100%;
  }

  .section-cards- {
    display: block;
    padding-top: 100px;
  }

  .image-container {
    display: flex;
    justify-content: center;
  }

  .section-cards- .me-5 {
    margin-right: 0 !important;
  }

  /* Styles */
  .mt-5 {
    margin-top: 1rem !important;
  }

  .section-skepticism {
    flex-direction: column;
  }

  .image-container {
    order: -1;
    /* images above the text on small screens */
  }

  .heading-gradient,
  .description {
    text-align: center;
  }

  .small-image.top,
  .small-image.bottom {
    position: static;
    /* stack images on small screens */
    margin: 0 auto;
    /* center images */
  }

  .section-skepticism {
    padding-top: 10px;
  }

  .custom-pad {
    padding-top: 115px;
  }

  .our-vision-about {
    padding-top: 120px;
  }

  .about-res-sec-1 .heading-container {
    text-align: left;
  }

  .flex-row-rev {
    flex-flow: column-reverse;
  }

  .team-img img {
    height: 140px;
  }

  .about-res-sec-1 .content {
    width: 100% !important;
  }

  .bg-height-0 {
    min-height: 0;
  }

  .Location-icon img {
    height: 20px;
  }

  .pad-custom-1 {
    padding-top: 5rem !important;
  }

  .top-custom-0 {
    top: 0 !important;
  }

  .faqs-acord .accordion {
    grid-template-columns: 1fr !important;
  }

  .cardImageContainer-2 {
    justify-content: center !important;
    align-items: center !important;
  }

  .cardImageContainer-2 img {
    width: 50%;
    margin-bottom: 10px;
  }

  .heading {
    font-size: 30px !important;
  }

  .head-individual {
    font-size: 28px !important;
  }

  .packages-custom .position-absolute.sub-text1 {
    width: 600px !important;
  }

  h1.head-policy {
    font-size: 42px !important;
  }

  .mt-custom-5 {
    margin-top: 470px;
  }

  .custom-padding-1 {
    padding-top: 345px;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

  /* Styles */
  .login-menu-third {
    display: none;
  }

  .navbar-toggler.secondary {
    display: none;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 600px) {

  /* Styles */
  .navbar-toggler.primary {
    display: none;
  }

  .navbar>.container {
    align-items: baseline;
  }

  .login-options li {
    font-size: 14px;
  }

  .navbar-brand.logo img {
    height: 50px;
  }

  .login-options a.btn.btn-theme-primary {
    padding: 5px !important;
    width: 80px;
  }

  .myCardStyles {
    height: 275px;
  }

  .nav-parent {
    width: 100%;
  }

  .px-5-custom {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  .text-container {
    white-space: normal;
  }

  .mt-5-custom {
    margin-top: 6.5rem;
  }

  .section-cards- {
    padding-top: 40px;
  }

  .pad-custom-0 {
    padding-top: 0 !important;
  }

  .team-img img {
    height: 90px;
  }

  .comments-sec .col-lg-9 div {
    display: block !important;
  }

  .comments-sec img {
    height: 100px !important;
    width: 85px !important;
  }

  .blog-hero-section {
    height: 50vh !important;
  }

  .header-text {
    font-size: 34px !important;
  }

  .pt-custom-2 {
    padding-top: 130px;
  }

  .mt-custom-2 {
    margin-top: 260px !important;
  }

  .pt-custom-1 {
    padding-top: 150px;
  }

  .pad-custom-1 {
    padding-top: 7.5rem !important;
  }

  .heading-custom h1 {
    white-space: normal;
  }

  .heading-custom-2 {
    flex: inherit !important;
  }

  .heading-another {
    font-size: 22px;
  }

  .plagiarism-custom-1 img {
    width: 100%;
  }

  .mt-custom-4 {
    margin-top: 100px;
  }

  .mt-custom-3 {
    margin-top: 10px !important;
  }

  .sectionSubHeading2 {
    font-size: 22px !important;
  }

  .pt-custom-0 {
    padding-top: 80px;
  }

  .text-heading {
    font-size: 30px !important;
  }

  .heading-sub-0 {
    padding-top: 8rem !important;
  }

  .mt-custom-5 {
    margin-top: 700px;
  }

  .custom-padding-1 {
    padding-top: 545px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 360px) {

  .header-text {
    font-size: 34px !important;
    line-height: 38px !important;
  }

  .px-5 {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }

  .my-card {
    padding: 10px !important;
  }

  .academic-using {
    width: 345px;
  }

  .Individual-mt-custom {
    margin-top: 13rem !important;
  }

  .individual-last-card-mob {
    padding: 0 !important;
  }

  .individual-last-card-mob .heading-container.w-75 {
    width: 100% !important;
  }

  .turnitin img {
    height: 50px;
  }

  .turnitin-2 img {
    height: 50px;
  }

  .sectionSubHeading1 {
    line-height: 36px;
  }

  .sectionSubHeading2 {
    font-size: 22px !important;
  }

  .custom {
    line-height: 36px;
  }

  .cardHeading {
    font-size: 22px;
  }

  .cardSubHeading {
    font-size: 20px;
  }

  .individual-hero {
    height: 50vh !important;
  }

  .navbar-toggler-icon {
    width: 1rem;
    height: 1rem;
  }

  .login-options a.btn.btn-theme-primary {
    font-size: 12px;
    width: 65px;
  }

  .login-options li {
    font-size: 12px;
  }

  .custom-pad {
    padding-top: 100px;
  }

  .px-5-custom {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }

  .text-container {
    white-space: normal;
  }

  .heading.text-white {
    font-size: 22px;
  }

  .heading-another {
    font-size: 20px;
  }

  .pt-custom-2 {
    padding-top: 160px;
  }

  .mt-custom-2 {
    margin-top: 475px !important;
  }

  .pt-custom-1 {
    padding-top: 365px;
  }

  .mt-custom-4 {
    margin-top: 245px;
  }

  .pt-custom-0 {
    padding-top: 220px;
  }

  .heading-custom-0 {
    display: block !important;
  }

  h1.head-policy {
    font-size: 34px !important;
  }

  .mt-custom-5 {
    margin-top: 760px;
  }

  .custom-padding-1 {
    padding-top: 645px;
  }

  .text-no-warp {
    width: 340px;
    padding: 0 10px;
  }

}